<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Trang Bình cung cấp sản phẩm silicate chất lượng cao cho ngành xây dựng, gốm sứ và nhiều lĩnh vực khác. Khám phá ngay dịch vụ và cơ hội nghề nghiệp cùng chúng tôi!" />
  <meta name="keywords" content="Trang Bình Silicate,  trang bình silicate, trangbinhsilicate , Silicate Products, Trang Bình" />
  <meta name="author" content="Trang Bình Silicate" />
  <title>Sản Phẩm Liên Quan</title>
  <link href="../public/images/logo/logo_final.png" rel="icon">
  <link rel="icon" type="image/png" sizes="16x16" href="../../public/img/favicons/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <link href="../public/images/logo/logo_final.png" rel="apple-touch-icon">
  <link href="../public/images/logo/logo_final.png" rel="apple-touch-icon-precomposed">

  <!-- Open Graph meta tags for social media sharing -->
  <meta property="og:title" content="Trang Bình SiLicate" />
  <meta property="og:description" content="Trang Bình Silicate định hướng trở thành nhà cung ứng hàng đầu về Silicate cùng các sản phẩm tinh chế từ Silicate trên thị trường nội địa và Quốc tế." />
  <meta property="og:image" content="../public/images/logo/logo_final.png" />
  <meta property="og:url" content="https://www.trangbinhsilicate.com" />
  <meta property="og:type" content="website" />

  <!-- Twitter Card meta tags -->
  <meta name="twitter:card" content="Trang Bình Silicate" />
  <meta name="twitter:title" content="Trang Bình SiLicate" />
  <meta name="twitter:description" content="Trang Bình Silicate định hướng trở thành nhà cung ứng hàng đầu về Silicate cùng các sản phẩm tinh chế từ Silicate trên thị trường nội địa và Quốc tế." />
  <meta name="twitter:image" content="../public/images/logo/logo_final.png" />
  <!-- Update the URL for the actual image -->
  <link rel="stylesheet" href="../public/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../public/css/main.css" />


  <link rel="stylesheet" href="./public/library/swiper/swiper.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="../public/library/owl.carousel.min.css" rel="stylesheet">
  <link rel="stylesheet" href="./public/library/Icon-font-7-stroke-PIXEDEN-v-1-2-0/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <%- include('./partials/header'); %>
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../public/images/Ui/product-lien-quan.jpg" class="d-block w-100 vh-60" alt="Slide 1">
      </div>
    </div>
  </div>
  <main class="industries container">
    <section class="industries-section">
      <div class="product-item" id="collection">
        <div class="item">
          <img src="../public/images/Ui/related-product/xaphong.jpg" alt="Product Image" class="img-fluid">
          <h4> <a href="">Soap and Detergent</a></h4>
        </div>
      </div>
    </section>
  </main>
  <%- include('./partials/footer'); %>
  <script src="../public/library/swiper/swiper-bundle.min.js"></script>
  <script src="../public/library/swiper/swiper.js"></script>
  <script src="../public/js/bootstrap.min.js"></script>
  <script src="../public/library/owl.carousel.min.js"></script>
  <script src="../public/js/industries.js">

  </script>
</body>

</html>