* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #0d6efd;
  --primary-color-red: #af3032;
  --primary-color-brown: #49494c;
  --secondary-color: #6c757d;
  --font-family-base: 'Arial', sans-serif;
  --font-size-base: 16px;
}

@font-face {
  font-family: 'MerriaweatherSans';
  src: url('/public/fonts/MerriweatherSans-Regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MerriaweatherSans';
  src: url('/public/fonts/MerriweatherSans-Regular.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

body {
  margin: 0;
  font-family: 'MerriaweatherSans', 'sans-serif';
}

.header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  padding: 0px 80px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.header-navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  line-height: 90px;
}

.header-logo img{
  width: auto;
  max-height: 90px;
}

.right-navbar{
  display: flex;
}
.header-menu {
  font-weight: 900;
  display: flex;
  list-style: none;
}

.header-menu {
  margin-bottom: 0px;
}

.header-menu li.menu-item {
  align-content: center;
  margin-left: 40px; /* Increased spacing */
}

.header-menu li.active a{
  color : var(--primary-color-red)
}
.header-menu li a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.header-menu li a:hover {
  color: #d13131;
}

.header-language {
  margin-left:20px;
  text-transform: uppercase;
}

.header-language select {
  padding: 10px;
  font-size: 10px;
  background-color: var(--primary-color-brown);
  color: #fff;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 100;
  cursor: pointer;
  letter-spacing: 1px;
}

.header-language select:hover {
  background-color: #555;
}
.footer-container {
  background-color: #333; /* Màu nền */
  color: #fff; /* Màu chữ */
  padding: 40px 0; /* Khoảng cách */
  display: flex; /* Sử dụng flexbox để bố trí */
  flex-wrap: wrap; /* Cho phép các phần tự động xuống dòng */
  justify-content: space-around; /* Khoảng cách giữa các phần */
}

.footer-section {
  width: 30%; /* Chiều rộng mỗi phần */
  margin-bottom: 20px; /* Khoảng cách giữa các phần */
  box-sizing: border-box; /* Bao gồm padding và border trong chiều rộng */
}

/* Điều chỉnh cho màn hình nhỏ hơn */
@media (max-width: 768px) {
  .footer-section {
    width: 100%; /* Mỗi phần chiếm toàn bộ chiều rộng */
  }
}

.footer-title {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #ddd; /* Màu chữ title */
}

.footer-contact p,
.footer-links li,
.footer-products li {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 5px;
}

.footer-links a,
.footer-products a {
  color: #fff;
  text-decoration: none;
}

.footer-map {
  width: 40%; /* Điều chỉnh chiều rộng của bản đồ */
}

.footer-copyright {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid #555; /* Đường kẻ phân cách */
}

.footer-copyright-text {
  font-size: 0.9em;
}

/* Định dạng cho Google Map (bạn cần tùy chỉnh thêm tùy theo kích thước) */
#footer-map {
  width: 100%;
  height: 200px;
}

/* Tùy chỉnh thêm nếu cần */
.footer-certification {
  width: 20%; /* Điều chỉnh chiều rộng */
  text-align: center;
}

.footer-certification img {
  max-width: 100%;
}