<section class="dashboard-product-section" id="addProductSection" style="display: none"
>
<h3>Thêm Thông Tin Sản Phẩm</h3>
<div class="form-input">
  <div class="col-lg-4 p-3">
      <form id="productForm1">
          <div>
              <label for="productName">Tên Sản Phẩm:</label>
              <input type="text" id="productName_vi" required placeholder="Tên Tiếng Việt...">
          </div>
          <div>
              <label for="productDescription">Mô Tả (Tối đa 500 chữ):</label>
              <textarea id="productDescription_vi" maxlength="500" required placeholder="Mô Tả Tiếng Việt..."></textarea>
          </div>
  
          <div>
              <label for="productBenefits">Công Dụng của silicate với sản phẩm:</label>
              <textarea id="productBenefits1_vi" rows="1" placeholder="Nhập Công Dụng Tiếng Việt..." required></textarea>
              <textarea id="productBenefits2_vi" rows="1" placeholder="Nhập Công Dụng Tiếng Việt..." required></textarea>
              <textarea id="productBenefits3_vi" rows="1" placeholder="Nhập Công Dụng Tiếng Việt..." required></textarea>
              <textarea id="productBenefits4_vi" rows="1" placeholder="Nhập Công Dụng Tiếng Việt..." required></textarea>
              <textarea id="productBenefits5_vi" rows="1" placeholder="Nhập Công Dụng Tiếng Việt..." required></textarea>
          </div>
  
          <div>
              <label for="productImage">Hình Ảnh:</label>
              <input type="file" id="productImage" accept="image/*" required>
          </div>
      
      </form>
  </div>
  <div class="col-lg-4 p-3">
      <form id="productForm2">
          <div>
              <label for="productName">Tên Sản Phẩm:</label>
              <input type="text" id="productName_en" required placeholder="Tên Tiếng Anh">
          </div>
          
          <div>
              <label for="productDescription">Mô Tả (Tối đa 500 chữ):</label>
              <textarea id="productDescription_en" maxlength="500" required placeholder="Mô Tả Tiếng Anh..."></textarea>
          </div>
  
          <div>
              <label for="productBenefits">Tiếng Anh</label>
              <textarea id="productBenefits1_en" rows="1" placeholder="Nhập Công Dụng Tiếng Anh..." required></textarea>
              <textarea id="productBenefits2_en" rows="1" placeholder="Nhập Công Dụng Tiếng Anh..." ></textarea>
              <textarea id="productBenefits3_en" rows="1" placeholder="Nhập Công Dụng Tiếng Anh..." ></textarea>
              <textarea id="productBenefits4_en" rows="1" placeholder="Nhập Công Dụng Tiếng Anh..." ></textarea>
              <textarea id="productBenefits5_en" rows="1" placeholder="Nhập Công Dụng Tiếng Anh..." ></textarea>
          </div>
      </form>
  </div>
  <div class="col-lg-4 p-3">
      <form id="productForm3">
          <div>
              <label for="productName">Tên Sản Phẩm:</label>
              <input type="text" id="productName_zh" required placeholder="Tên Tiếng Trung...">
          </div>
          
          <div>
              <label for="productDescription">Mô Tả (Tối đa 500 chữ):</label>
              <textarea id="productDescription_zh" maxlength="500" required placeholder="Mô Tả Tiếng Trung"></textarea>
          </div>
  
          <div>
              <label for="productBenefits">Tiếng Trung</label>
              <textarea id="productBenefits1_zh" rows="1" placeholder="Nhập Công Dụng Tiếng Trung..." required></textarea>
              <textarea id="productBenefits2_zh" rows="1" placeholder="Nhập Công Dụng Tiếng Trung..." required></textarea>
              <textarea id="productBenefits3_zh" rows="1" placeholder="Nhập Công Dụng Tiếng Trung..." required></textarea>
              <textarea id="productBenefits4_zh" rows="1" placeholder="Nhập Công Dụng Tiếng Trung..." required></textarea>
              <textarea id="productBenefits5_zh" rows="1" placeholder="Nhập Công Dụng Tiếng Trung..." required></textarea>
          </div>     
      </form>
  </div>
</div>
<div class="btn-sumit-add">
    <button type="submit" id="submitProductBtn">Thêm Sản Phẩm</button>
</div>
</section>